
.video-mask{
    border-radius: 10px;
    overflow: hidden; 
}

.login_01 {
    margin-top: -60px;
    margin-bottom: -60px;
  }

.login_01 .title {
    font-weight: 800;
    letter-spacing: -2px;
  }

  .login_01 .colored {
    color: var(--brandColor);
    font-weight: 500;
    letter-spacing: -1px;
  }

  .login_01 p {
    color: var(--textLight);
    font-size: 1.15rem;
    margin-top: -20px;
  }

:root {
    --brandColor: hsl(166, 67%, 51%);
    --background: rgb(247, 247, 247);
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: hsla(0, 0%, 0%, 0.33);
  }


  .field:not(:last-child) {
    margin-bottom: 1rem;
  }

  .register {
    margin-top: 4rem;
    background: white;
    border-radius: 10px;

  }

  .left,
  .right {
    padding: 3rem;
    
  }

  .left {
    border-right: 5px solid var(--background);
  }

  .left .title {
    font-weight: 800;
    letter-spacing: -2px;
  }

  .left .colored {
    color: var(--brandColor);
    font-weight: 500;
    margin-top: 1rem !important;
    letter-spacing: -1px;
  }

  .left p {
    color: var(--textLight);
    font-size: 1.15rem;
  }

  .right .title {
    font-weight: 800;
    letter-spacing: -1px;
  }

  .right .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: var(--textLight);
    font-size: 1.15rem;
  }

  .right small {
    color: var(--textLight);
  }

  input {
    font-size: 1rem;
  }

  input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
  }

 

  .box {
    margin-top: 5rem;
  }
  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;
    align-items: center;
  }
  .avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    object-fit: cover;
    
  }
  input {
    font-weight: 300;
  }
  
  
  .login-hr{
    border-bottom: 1px solid black;
  }
  
  .has-text-black{
    color: black;
  }
  
  .field{
    padding-bottom: 10px;
  }
  
  .fa{
    margin-left: 5px; 
  }



.caja_principal {
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.caja {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 660px;
    max-width: 100%;
    min-height: 380px;
 
}
.box_container {
    display: flex;
    align-items: center;
    width: 660px;
    max-width: 100%;
    min-height: 380px;

}
.copy {
    padding-top: 20px;
    color: rgb(107, 107, 107);
    font-size: 14px;
}

.btn-circle {
  width: 40px;
  height: 40px;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/*==================================================================
[ Title form ]*/
.login100-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 15px 34px 15px;
    border-radius: 6px;
    margin-bottom: -10px;
  }
  
  .login100-form-title-1 {
    font-size: 30px;
    color: #fff;
    /* text-transform: uppercase; */
    line-height: 1.2;
    text-align: center;
  }
  
  .login100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(27, 81, 196, 0.7);
    border-radius: 8px 8px 0px 0px ;
  }
  .image-cover {
    border-radius: 50%;
    border: 2px solid red;
    object-fit: cover;
    object-position: center right;
  }

 /*  .footer { 
    margin-top: 20px;;
    
    } */

  .footer h6{ 
    text-align: left;
    color: #fff !important;
   
  }
  .footer h1{ 
    color: #ffffff; 
    
    }
    
    .content ul{
    padding: 0;
    margin: 0;
    }
    .content ul li{
    list-style-type: none;
    text-align: left;
    padding: 5px;
    }
    .content ul li a{
    color: #fff;
    font-size: 12px;
    }
    
    .footer img{
    width: 70%;
    height: auto;
    }

    .content .is-success{
        margin-top: 10px;
    }
    .content .fa{
        padding-right: 8px;
        font-size: 16px;
        cursor: pointer;
    }
    .control.has-icons-left .icon.is-left{
        left: 5px;
    }


.articles {
    margin: 5rem 0;
    margin-top: -230px;
  }
  .articles .content p {
      line-height: 1.9;
      margin: 15px 0;
  }
  .author-image {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    border: 3px solid #ccc;
    border-radius: 50%;
}


.article-title {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 2;
  }
  .article-subtitle {
    color: #909AA0;
    margin-bottom: 3rem;
  }
  .article-body {
    line-height: 1.4;
    margin: 0 6rem;
  }

  .sugerencias {
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
  margin: 0 0 1rem;
  height: 10rem;
  display: flex;
  /* align-items por defecto tiene el valor `stretch` */
  align-items: start;
  }

  .hero.is-white {
    background-color: #ffffff;
    color: rgb(46, 46, 46);
  }

  .card-actions {
    float: right;
    padding-top: 2px;
    font-size: 13px;
}
 

/* Tamaño del scroll */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
   /* Estilos barra (thumb) de scroll */
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: #838383;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
  ::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track:hover, 
  ::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
  

  /*==================================================================
  [ Form ]*/

/* FORMULARIO */

/* .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}
 */

/* ANIMACION */

/* .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
} */

/* .overlay {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
} */