body {
   /*  background-color: #acacac; */
   
}

.nested.dropdown, :hover > .dropdown-menu {
  display: block;
} 
  

  .dropdown-menu {
    top: -15px;
    margin-left: 100%;
  }
  .dropdown-trigger {
  
  }
    button::after {
      /* content: '⦠' */
    }
  


 .is-mega-menu-title {
      margin-bottom: 0;
      padding: .375rem 1rem;
    }

  
.video-container {
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
  }
   
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }